<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Painting Software for Beginners - Corel Painter Essentials 7</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.painterartist.com/favicon.ico">

        <!-- font: tipo, weight -->

        <!-- responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS link -->
        <link rel="stylesheet" href="dist/app.css">
    </head>

    <body>
        <div id="root">
            <header>
                <div class="container">
                    <!-- TOP action menu -->
                    <div class="action">
                        <ul>
                            <li v-for="item in menu.user">
                                <a :href="item.href">
                                    <i class="fas"
                                        :class="'fa-' + item.icon"></i>
                                    {{ item.name }}
                                </a>
                            </li>

                            <!-- select lang -->
                            <li>
                                lang
                            </li>
                        </ul><!--  END user menu -->
                    </div>

                    <!-- BTM main header -->
                    <div class="main-header">
                        <!-- Hamburger menu -->
                        <div class="hamb-menu">
                            <i class="fas fa-bars"></i>
                        </div>

                        <!-- brand logo -->
                        <div class="logo">
                            <img src="https://www.painterartist.com/static/ptr/images/logo_painter.png" alt="brand logo">
                        </div>

                        <!-- nav menu -->
                        <nav class="nav-bar">
                            <ul>
                                <li v-for="item in menu.main">
                                    <a href="#"
                                        :href="item.href"
                                        :class="item.submenu ? 'dropdown' : ''">
                                        {{ item.name }}
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <main>
                <div class="container">

                </div>
            </main>
            <footer>
                <div class="container">
                    <!-- TOP nav menu -->
                    <nav class="footer-menu">
                        <ul>
                            <li class="footer-list">
                                <span class="menu-title">title</span>
                                <ul>
                                    <li>
                                        <a href="#">voce 1</a>
                                    </li>
                                    <li>
                                        <a href="#">voce 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer-list">
                                <span class="menu-title">title</span>
                                <ul>
                                    <li>
                                        <a href="#">voce 1</a>
                                    </li>
                                    <li>
                                        <a href="#">voce 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <!-- BTM copy -->
                    <div class="copy-container">
                        <!-- TOP -> SX logo partners -->
                        <div class="partners"></div>

                        <!-- BTM -> DX copyright -->
                        <div class="copy"></div>
                    </div><!-- end of copy -->
                </div>
            </footer>
        </div><!-- end of #root -->

        <!-- js -->
        <script src="dist/app.js" charset="utf-8"></script>
    </body>
</html>
