footer {
    // all list
    ul {
        li {
            text-transform: capitalize;
        }
    }
    // nested list
    li.footer-list {
        display: block;

        .menu-title {
            font-size: $fontSize * 1.1;
            line-height: $spacing * 3;
        }

        ul {

            li {
                display: block;
                font-size: $fontSize * 0.85;
                a {
                    line-height: $spacing * 2;
                    color: $textPrAlt;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    // TOP footer-menu
    .footer-menu {
        background-color: adjust-color($brandPr, $lightness: 86%);
        padding: ($spacing * 10 / 3) 0 ($spacing * 5 / 2);
    }

    // BTM copy
    .copy-container {
        background-color: adjust-color($brandPr, $lightness: 5.5%);
        font-size: $fontSize * 0.85;
        padding: $spacing 0 $spacing * 2;

        .container {
            @include clearfix;
            min-height: $btmFooterHeight;

            // TOP -> SX logo partners
            .partners {
                img {
                    margin-right: $spacing;
                    max-height: $btmFooterHeight;
                }
            }

            // TOP -> SX logo partners
            .copy {
                min-height: $btmFooterHeight;
                color: $prInverse;
                line-height: $spacing * 2;
                ul {
                    li {
                        // color: $prInverse;
                        margin-right: $spacing;
                        a {
                            color: $textPrAlt;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                } // end ul
            } // end copy
        }

    }
}

// XS
@media screen and (min-width: $mqSM) {

}
// SM
@media screen and (min-width: $mqMD) {
    footer {
        li.footer-list {
            display: inline-block;
        }


        // TOP footer-menu
        .footer-menu {
            ul:first-child {
                @include flex(row, space-between, flex-start);
            }
        }

        // BTM copy
        .copy-container {
            &::after {
                @include clearfix;
            }

            // TOP -> SX logo partners
            .partners {
                float: left;
            }

            // TOP -> SX logo partners
            .copy {
                float: right;
                @include flex(column, center, flex-end);

                ul {
                    li {
                        margin-right: 0;
                        margin-left: $spacing;
                    }
                }
            }
        }
    }
}
// MD
@media screen and (min-width: $mqLG) {

}
// LG
@media screen and (min-width: $mqXL) {

}
// XL
