footer {
    // all list
    ul {
        li {
            text-transform: capitalize;
        }
    }
    // nested list
    li.footer-list {
        display: block;

        .menu-title {
            font-size: $fontSize * 1.1;
        }

        ul {

            li {
                display: block;
                font-size: $fontSize * 0.85;
            }
        }
    }

    // TOP footer-menu
    .footer-menu {
        background-color: adjust-color($brandPr, $lightness: 86%);
        padding: ($spacing * 10 / 3) 0 ($spacing * 5 / 2);


    }

    // BTM copy
    .copy-container {
        min-height: 90px;
        background-color: adjust-color($brandPr, $lightness: 5.5%);
        font-size: $fontSize * 0.85;

        // TOP -> SX logo partners
        .partners {

        }

        // TOP -> SX logo partners
        .copy {
            // height: 50px;
            // background-color: orange;
        }
    }
}

// XS
@media screen and (min-width: $mqSM) {

}
// SM
@media screen and (min-width: $mqMD) {
    footer {
        li.footer-list {
            display: inline-block;
        }


        // TOP footer-menu
        .footer-menu {
            ul {
                li {
                    .menu-title {

                    }


                }
            }

            ul:first-child {
                @include flex(row, space-between, flex-start);
            }
        }

        // BTM copy
        .copy-container {
            &::after {
                @include clearfix;
            }

            // TOP -> SX logo partners
            .partners {
                float: left;
            }

            // TOP -> SX logo partners
            .copy {
                float: right;
            }
        }
    }
}
// MD
@media screen and (min-width: $mqLG) {

}
// LG
@media screen and (min-width: $mqXL) {

}
// XL
