header {
    min-height: $headerHeight;
    background-color: $brandPr;
    color: $textPr;
    font-size: $fontSize;
    @include posAbs(0, 0, 0, unset);

    // TOP action link
    .action {
        // media query --> MD
        display: none;
    }

    // BTM main-header
    .main-header {
        // hamburger-menu
        .hamb-menu {
            @include flex(row, center, center);
            width: $headerHeight; height: $headerHeight;
            cursor: pointer;
            position: absolute;
        }

        // header-logo
        .logo {
            @include flex(row, center, center);
            max-width: $headerHeight * 1.6; height: $headerHeight;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        // header main-menu
        .nav-bar {
            // media query --> MD
            display: none;
        }
    } // fine main-header (logo, hamburger-menu, nav-menu)
} // fine header

// XS
@media screen and (min-width: $mqSM) {

}
// SM
@media screen and (min-width: $mqMD) {
    header {
        // all header style
        ul {
            text-transform: capitalize;

            li {
                height: $headerHeight;
                line-height: $headerHeight;
                padding: 0 $spacing;
                margin: 0 $spacing;
            }

            a {
                &.dropdown::after {
                    margin-left: $spacing / 2;
                }
            }
        }

        // TOP action link
        .action {
            display: block;

            ul {
                text-align: right;

                li {
                    height: $headerHeight * 0.9; line-height: $headerHeight * 0.9;
                    color: $textPrAlt;
                    font-size: $fontSize * 0.85;

                    &:hover {
                        color: $textPr;
                        text-decoration: underline;
                    }

                    i {
                        color: $btnPr;
                        margin-right: $spacing / 2;
                    }
                }
            }
        }

        // BTM main-header
        .main-header {
            &::after {
                @include clearfix;
            }

            // hamburger-menu
            .hamb-menu {
                display: none;
            }

            // header-logo
            .logo {
                float: left;
            }

            // header main-menu
            .nav-bar {
                display: block;
                float: left;

                ul {
                    li {
                        cursor: pointer;

                        &:hover {
                            background-color: $prInverse;
                            color: $textPrInverse;
                        }
                    }
                }
            }
        } // fine main-header (logo, hamburger-menu, nav-menu)
    } // fine header
}
// MD
@media screen and (min-width: $mqLG) {

}
// LG
@media screen and (min-width: $mqXL) {

}
// XL
