main {

    section.jumbotron {
        height: calc(100vh - #{$mainNavHeight});
        padding: 195px 0 $spacing * 3;
        background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    nav {
        height: $mainNavHeight;
        background-color: adjust-color($brandPr, $lightness: 86%);
    }
}
