// font
$fontFamily: sans-serif;
$fontSize: 14px;

// spacing
$spacing: 12px;
$gutter: 15px; // see _12col.scss

// color
$brandPr: #101010;
$textPr: #ffffff;
$textPrAlt: #989898;

$prInverse: #f1f1f1;
$textPrInverse: #000000;

$btnPr: #009cff;
$textBtnPr: #ffffff;

// html
$headerHeight: 50px;
$btmFooterHeight: 60px; // min height footer btm
$mainNavHeight: 55px; // nav-bar after jumbotron

// media-query-list: "media-query-name" + m-q-min-width + container-max-width
$xs-min: 0px; $sm-min: 576px; $md-min: 768px; $lg-min: 992px; $xl-min: 1200px;
$mediaQuery: ("xs" $xs-min 560px, "sm" $sm-min 540px, "md" $md-min 720px, "lg" $lg-min 960px, "xl" $xl-min 1140px);
