// font
$fontFamily: sans-serif;
$fontSize: 14px;

// spacing
$spacing: 12px;

// color
$brandPr: #101010;
$textPr: #ffffff;
$textPrAlt: #989898;

$prInverse: #f1f1f1;
$textPrInverse: #000000;

$btnPr: #009cff;
$textBtnPr: #ffffff;

// html
$headerHeight: 50px;
$btmFooterHeight: 60px; // min height footer btm

// media query
$mqSM: 576px;
$mqMD: 768px;
$mqLG: 992px;
$mqXL: 1200px;
