@import 'partials/mixin';


@import 'partials/common';
@import 'partials/header';

header {
    background-color: red;
}
main {
    height: 100px;
    background-color: green;
}
footer {
    height: 100px;
    background-color: blue;
}
